<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Book stuff
      </h1>
    </header>

    <main>
      <p class="bold">Hello,</p>
      
      <p>Fill Out Book Information</p>
      
      <form>
        <input name="book-title" id="bookTitle" aria-label="a new book" type="text" maxlength="100" placeholder="Book Name *" required>
        <input name="author-first-name" id="authorFirstName" aria-label="author first name" type="text" maxlength="100" placeholder="Author First Name *" required>
        <input name="author-last-name" id="authorLastName" aria-label="author last name" type="text" maxlength="100" placeholder="Author Last Name *" required>
        <button type="submit" id="submit-details">Submit Details</button>
      </form>
      
      
      <table style="width:100%">
        <tr>
          <th>Author First Name</th>
          <th>Author Last Name</th>
          <th>Author Id</th>
        </tr>
        <tr>
          <td>
            <section class="ids">
              <ul id="ids"></ul>
            </section>
          </td>
          <td>
            <section class="books">
              <ul id="books"></ul>
            </section>
          </td>
          <td>
            <section class="authors">
              <ul id="authors"></ul>
            </section>
          </td>
        </tr>

      </table>
      
      <section class="clearBooksButton">
         <button id="clear-books">
          Clear Books
        </button>
      </section>
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
